body {
    margin:0;
}

.container {
    position: relative;
}
 
#text {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    pointer-events: none;
}

.editor {
    display:flex;
    flex-direction: row;
    background-color: #E4DDDD;
}
input[type=number], input[type=text] {
    width: 100%;
    padding: 8px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    width: 100%;
    background-color: #B1AEAE;
    color: white;
    padding: 8px 8px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #8A8787;
}
.formText{
    text-transform: uppercase;


}

.banner {
    height:60px;
    width:100%;
    background-color: #B6AFAE
}

#glCanvas {
    border: 10px solid #272727;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 25px;
    text-decoration: none;
}

li :hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}